
.wrap {
    background: #333;
}


.taskContainer {
    display: flex;
    flex-direction: column;
}

.taskHeader, .taskContent {
    position: relative;
    display: grid;
    grid-template-columns: 8% 22% 30% 11% 11% 13%;
    grid-column-gap: 10px;
    padding:1rem 0;
    background: transparent;
    transition: all 300ms;
}

.taskContent:hover {
    background: #2c2c2c;
}

.taskId {
    margin: 0 auto;
}

.taskContent:before, .taskContent:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
}

.taskHeader:before, .taskContent:before {
    bottom: 0;
    background: #444;
}

.taskHeader:before, .taskContent:after {
    bottom: 1px;
    background: #101010;
}


.taskHeader, .taskContent:first-child {
    border-top: 1px solid #444;
    border-bottom: 1px solid #101010;
}

.tasknavigateButton form{
    margin: .3rem 0;
}

.tasknavigateButton form input[type="submit"] {
    background: transparent;
    width: 100%;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-top: 1px solid #444;
    border-bottom: 1px solid #101010;
    margin: 0;
}

.task-index form textarea {
    resize: none;
    height: 20vh;
}

p.fullDescr {
    margin: 5rem 0;
}




.task-index {
    padding: 1rem 0;
    box-sizing: border-box;
    position: relative;
    color: #fff;
}

.task-index a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.taskName a {
    color: #FF9200;
    transition: all 300ms;
}

.taskName a:hover{
    color: #FFC373;
}

.form-control {
    color: #fff;
    background-color: #333;
    border-radius: 1px;
    outline: 1px solid #444;
    border-color: #101010;
}



.form-control:focus {
    border-color: #101010;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #FF9200;
}






.createButton {

}

.task-index h1  {
    text-align: center;
    margin-top: 0;
}

.task-index a {
    text-decoration: none;
}


/*.aLinkGeneralPage {
    text-transform: uppercase;
    background: #222222;
    display: inline-block;
    padding: .5rem 1rem;
    margin: 1rem 0;
    color: #fff;
    text-decoration: none;
    outline: none;
   !* box-shadow: 4px 4px 13px -5px #9a9a9a;*!
}*/

.aLinkGeneralPage {
    text-transform: uppercase;
    background: transparent;
    display: inline-block;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 0;
    color: #fff;
    border-bottom: 1px solid #444;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 0 #101010, 0 -1px 0 #444;
}

.tasknavigateButton form {
    margin: 1rem 0;
    transition: all 300ms;
}

.tasknavigateButton form:hover {
    transform: translateX(-1rem);

}

span .aLinkGeneralPage {
    margin:1rem;
}

.btn.aLinkGeneralPage {
    color: #ffffff;
}

.taskId, .taskName, .taskShortDescr, .taskCreateDate, .taskCompleteDate {
    display: flex;
    align-items: center;
}


.aLinkGeneralPage:hover {
    color: #ff8200;
}


.breadcrumb {
    position: relative;
    background: transparent;
    margin:0 ;
}

.breadcrumb:before, .breadcrumb:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
}

.breadcrumb:before {
    background: #444;
    bottom:0 ;
}

.breadcrumb:after {
    background: #101010;
    bottom:1px;
}


.breadcrumb li a{
    color: #f3f3f3;
}

.breadcrumb li.active {
    color: #ffa600;
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #222;
    border-top: 1px solid #101010;
    box-shadow: 0 -1px #444;
    padding-top: 20px;
    color: #fafafa;
}